LOG_LEVEL=INFO
HOST=0.0.0.0
PORT=8045
# Comma-separated list of model IDs to download on startup
DOWNLOAD_MODELS=Qwen/Qwen3-TTS-12Hz-1.7B-Base,Qwen/Qwen3-TTS-12Hz-1.7B-VoiceDesign,Qwen/Qwen3-TTS-12Hz-1.7B-CustomVoice
# Default model size (e.g., 1.7B)
TTS_MODEL_SIZE=1.7B
BASE_DATA_DIR=data
DEFAULT_VOICE_ID=default_001
